[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
streamlit = "*"
flask = "*"
flask-sqlalchemy = "*"
pandas = "*"
matplotlib = "*"
smartcloud = "*"
gunicorn = "*"
ipykernel = "*"
pygame = "*"

[requires]
python_version = "3.8"
